//-------------------------------------------------------
//- Modules :: Buttons
//-------------------------------------------------------

mixin buttons({ text, type, size, isFull, iconFont, iconImage, modal, modalId, fwBase, disabled })
  button.button(
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= fwBase ? `button--${fwBase}` : null
    class= (isFull === true) ? 'button--full' : null
    data-toggle= modal,
    data-target= modalId,
    disabled= disabled
  )&attributes(attributes)
    if (iconFont !== '' && iconFont !== undefined)
      +icon-fonts(iconFont)(class='button__icon')
    if (iconImage !== '' && iconImage !== undefined)
      +icon-images(iconImage)(class='button__icon')
    span.button__text
      | #{text}

mixin buttons-link({ href, text, type, size, isFull, iconFont, iconImage, logoImageUrl, fontSize })
  a.button(
    class= type ? `button--${type}` : null
    class= size ? `button--${size}` : null
    class= (isFull === true) ? 'button--full' : null
    class= fontSize ? `button--font-${fontSize}` : null
    href= href ? href : '#'
    role='button'
  )&attributes(attributes)
    if (iconFont !== '' && iconFont !== undefined)
      +icon-fonts(iconFont)(class='button__icon')
    if (iconImage !== '' && iconImage !== undefined)
      +icon-images(iconImage)(class='button__icon')
    if (logoImageUrl !== '' && logoImageUrl !== undefined)
      img.button__icon.mr-2(src= logoImageUrl)
    span.button__text
      | #{text}
