//-------------------------------------------------------
//- Modules :: Buttons
//-------------------------------------------------------

mixin form-inputs({ attribute, label_text, placeholder, isInvalid })
  .form-group(    
  )&attributes(attributes)
    label.font-weight-bold(for= attribute)= label_text
    input.form-control(
      class= (isInvalid === true) ? 'is-invalid' : null
      type= attribute
      placeholder= placeholder
    )
    if (isInvalid === true)
      .invalid-feedback Data Invalid

mixin form-checkbox({ id, label_text })
  label.custom-control.custom-checkbox(
  )&attributes(attributes)
    input.custom-control-input(type='checkbox' id= id)
    label.custom-control-label(for= id)= label_text
